/**{
	0;
}*/
body{
	background-color: #FFCDD2;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
.groupImg{
	height: 300px;
	width: 500px;
}
i {
		border-radius: 4px;
		cursor: pointer;
		font-size: 44px;
		margin: 0px 20px;
		padding: 20px 30px;
		transition: all 400ms ease-in-out;

		&:hover {
			background: #FFF;
			color: #ca5549;
		}
	}
}